html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body
{
    display: flex;
    flex-direction: row;
    font-weight: 600;
}

.left-container {
    display: flex;
    width: 120vh;
    background-image: url("assets/background.png");
    background-size: 100vh;
    flex-direction: column;
    justify-content: center;
}

.logo-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh 20vh;
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 40vh;

}

.right-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: xx-large;
    width: 100%;
}

.description {
    margin-bottom: 6vh;
    margin-left: 6vh;
    width: 100vh;
    font-size: smaller;
}

.sign-up-container {
    width: 100%;
    background-color: beige;
    padding: 4vh;
    padding-left: 6vh;
    padding-top: 1vh;
    margin-bottom: 4vh;
    box-shadow: 0 8px 10px -10px black;
}

.sign-up-title {
    margin-bottom: 2vh;
    font-size: smaller;
}

#form {
    display: grid;
    font-size: small;
    grid-template-columns: 30vh 30vh;
    grid-row-gap: 2vh;
}

#submit-button {
    padding: 1vh;
    width: 20vh;
    margin-left: 6vh;
    margin-bottom: 4vh;
}

.right-footer {
    margin-left: 6vh;
    font-size: 20px;
}


