html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body
{
    display: flex;
    flex-direction: row;
    font-weight: 600;
    color: white;
}

.left-container {
    display: flex;
    width: 70vh;
    background-image: url("assets/background.png");
    background-size: 180vh;
    background-repeat: no-repeat;
    background-position: center left;
    flex-direction: column;
    justify-content: center;
}

@font-face {
    font-family: "Cult Std";
    src: url(assets/Cult\ Std\ Regular.otf);
}

#logo {
    width: 12vh;
    height: auto;
}

.logo-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh 20vh;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-family: "Cult Std", 'Times New Roman', Times, serif;
    font-size: 40px;
    margin-bottom: 42vh;

}

.right-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Cult Std", 'Times New Roman', Times, serif;
    width: 100%;
    background-color: #E1D8EF;
    color: #575068;
}

.description {
    margin-bottom: 4vh;
    margin-left: 6vh;
    width: 100vh;
    font-size: 5vh;
}

.sign-up-container {
    width: 100%;
    background-color: #575068;
    color: #E1D8EF;
    padding: 4vh;
    padding-left: 6vh;
    padding-top: 2vh;
    margin-bottom: 3vh;
    box-shadow: 0 8px 10px -10px black;
}

.sign-up-title {
    margin-bottom: 4vh;
    font-size: 5vh;
    font-weight: bold;
    background: linear-gradient(to left, #575068, #E1D8EF);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 0.5s ease-in-out infinite;
    background-size: 400% 100%;
}

#form {
    display: grid;
    font-size: 14px;
    grid-template-columns: 40vh 40vh;
    grid-row-gap: 2vh;
    position: absolute;
}

.textbox {
    border: 0;
    border-radius: 8px;
    background-color: #E1D8EF;
    width: 30vh;
    height: 3vh;
    margin-top: 1vh;
    padding-left: 2vh;
    font-family: "Cult Std", 'Times New Roman', Times, serif;
    font-size: medium;
}

.textbox:focus {
    outline: none;
    outline: 2px solid #F29830;
}

#submit-button {
    width: 20vh;
    margin-left: 6vh;
    margin-bottom: 2vh;
    background: linear-gradient(to right, #575068, #575068, #F29830, #F29830);
    animation: rainbow_animation 8s ease-in-out infinite;
    background-size: 400% 100%;
    color: white;
    border: 0;
    border-radius: 14px;
    font-size: large;
    width: 30vh;
    height: 5vh;
    font-family: "Cult Std", 'Times New Roman', Times, serif;
    font-size: 3vh;
}

.right-footer {
    margin-left: 6vh;
    font-size: 2.5vh;
}

a:link {
    text-decoration: none;
    color: #F29830;
}

a:hover, a:visited {
    background: linear-gradient(to left, #000000, #575068 , #F29830);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 12s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}

